<!-- MapServer Template -->
<tr bgcolor="#DEE5EB"><td colspan="4"><b><u>Objek Pajak</u></b></tr>
<tr>
<td align="right"><b>NOP:</b></td>
<td colspan="3">[nop] <a href="javascript:GeoMOOSE.startService('feature_report', {'gid' : '[gid]', 'src' : 'pbb/bumi'})">Report</a></td>
</tr>
<tr>
<td align="right"><b>Alamat:</b></td>
<td colspan="3">[jalan_op]</td>
</tr>
<tr>
<td align="right"><b>Blok/Kav/No:</b></td>
<td>[blok_kav_no_op]</td>
<td align="right"><b>RT/RW:</b></td>
<td>[rw_op]/[rt_op]</td>

</tr>
<tr>
<td align="right"><b>Luas Bumi:</b></td>
<td>[total_luas_bumi]</td>
<td align="right"><b>Luas Bng:</b></td>
<td>[total_luas_bng]</td>
</tr>
<tr>
<td align="right"><b>NJOP Bumi:</b></td>
<td>[njop_bumi]</td>
<td align="right"><b>NJOP Bng:</b></td>
<td>[njop_bng]</td>
</tr>

<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
